<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head") %>
        <title>Home Page</title>
    </head>
    <body>
        <%- include("./partials/nav") %>\
        <div class="container mt-3" >
            <form action="/blog" method="post" enctype="multipart/form-data">
                <div class='mb-3'>
                    <lebel for="coverImage" class="form-lebel">Cover Image </lebel>
                    <input type="file" 
                    class="form-control" 
                    id="coverImage" 
                    name="coverImage" 
                    aria-describedby="coverImage">
                </div>
                <div class='mb-3'>
                    <lebel for="title" class="form-lebel">Title</lebel>
                    <input type="text" 
                    class="form-control" 
                    id="title" 
                    name="title" 
                    aria-describedby="title">
                </div>
                <div class="container mt-3" ></div>
                    <div class='mb-3'>
                        <label for="body">Body</label>
                        <textarea name="body" class="form-control" id="body"></textarea>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </div>
                
            </form>
        </div>
        <%- include("./partials/scripts") %>
    </body>
</html>



